<div class="row" ng-init="transact.forms[tab_name].search_name = ''">
  <div class="input-field col s12">
    <input id="search_person_bonafide" type="text" ng-model="transact.forms[tab_name].search_name">
    <label for="search_person_bonafide">Search Applicant Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].user_id[0] = resident.id; transact.forms[tab_name].birthdate = resident.birthdate; transact.forms[tab_name].first_name = resident.first_name; transact.forms[tab_name].middle_initial = resident.middle_name.charAt(0); transact.forms[tab_name].gender = resident.gender; transact.forms[tab_name].last_name = resident.last_name; transact.forms[tab_name].search_name = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="bonafide_full_name" type="text" value="{{ transact.forms[tab_name].first_name + ' ' + transact.forms[tab_name].middle_initial + '. ' + transact.forms[tab_name].last_name }}" disabled>
      <label class="active" for="bonafide_full_name">Full Name</label>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <input type="radio" id="gender" name="gender" id="female" ng-checked="transact.forms[tab_name].gender === 'f'" disabled>
      <label for="female">Female</label>
      <input type="radio" id="gender" name="gender" id="male" ng-checked="transact.forms[tab_name].gender === 'm'" disabled>
      <label for="male">Male</label>
    </div>
    <div class="input-field col s8">
      <input id="bonafide_birthdate" type="text" value="{{ transact.forms[tab_name].birthdate | date: 'MMMM d, yyyy' }}" disabled>
      <label class="active" for="bonafide_birthdate">Birthdate</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input id="bonafide_house_num" type="number" min="1" max="999" ng-model="transact.forms[tab_name].house_num">
      <label for="bonafide_house_num">House Number</label>
    </div>
    <div class="input-field col s8">
      <!-- <input id="business_clearance_street_name" type="text" value="{{ business_clearance_street_name }}" disabled> -->
      <input id="bonafide_street_name" type="text" ng-model="transact.forms[tab_name].street_name">
      <label for="bonafide_street_name">Street Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="purpose" type="text" ng-model="transact.forms[tab_name].purpose">
      <label for="purpose">Purpose</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
