<div class="row" ng-init="transact.forms[tab_name].search_name = ''">
  <div class="input-field col s12">
    <input id="search_person_business_ownership" type="text" ng-model="transact.forms[tab_name].search_name">
    <label for="search_person_business_ownership">Search Business Owner's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].user_id[0] = resident.id; transact.forms[tab_name].owner = (resident.gender == 'f' ? 'Ms.' : 'Mr.') + ' ' + resident.first_name + ' ' + resident.last_name; transact.forms[tab_name].search_name = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="col s6 input-field">
      <input type="text" disabled id="full_name" value="{{ transact.forms[tab_name].owner }}">
      <label for="full_name" class="active">Business Owner</label>
    </div>
    <div class="col s6 input-field">
      <input type="text" id="business" ng-model="transact.forms[tab_name].business">
      <label for="business" class="active">Business Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="date1_{{ tab_name }}" type="text" ng-model="transact.forms[tab_name].from" ng-change="transact.forms[tab_name].from = selecteddate">
      <label class="active" for="date1_{{ tab_name }}">From</label>
    </div>

    <div class="input-field col s12">
      <input id="date2_{{ tab_name }}" type="text" ng-model="transact.forms[tab_name].to" ng-change="transact.forms[tab_name].to = selecteddate">
      <label class="active" for="date2_{{ tab_name }}">To</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input id="two_people_house_num" type="number" min="1" max="999" ng-model="transact.forms[tab_name].house_num">
      <label for="two_people_house_num">Business Lot Number</label>
    </div>
    <div class="input-field col s8">
      <!-- <input id="business_clearance_street_name" type="text" value="{{ business_clearance_street_name }}" disabled> -->
      <input id="two_people_street_name" type="text" ng-model="transact.forms[tab_name].street_name">
      <label for="two_people_street_name">Business Street Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
</div>
