<div class="row" ng-init="transact.forms[tab_name].search_name = ''">
  <div class="input-field col s12">
    <input id="search_name" type="text" ng-model="transact.forms[tab_name].search_name">
    <label for="search_name">Search Applicant Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].user_id[0] = resident.id; transact.forms[tab_name].full_name = resident.first_name + ' ' + resident.last_name; transact.forms[tab_name].search_name = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="business_clearance_full_name" type="text" value="{{ transact.forms[tab_name].full_name }}" disabled>
      <label class="active" for="business_clearance_full_name">Full Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="business_clearance_business" type="text" ng-model="transact.forms[tab_name].business_name">
      <label for="business_clearance_business">Business Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <!-- TODO: -->
      <!-- Convert type="number" to "text" that accepts numbers only -->
      <!-- Prepend with zeroes: https://stackoverflow.com/questions/10841773/javascript-format-number-to-day-with-always-3-digits -->
      <input id="business_clearance_house_num" type="number" min="1" max="999" ng-model="transact.forms[tab_name].house_num">
      <label for="business_clearance_house_num">Business Lot Number</label>
    </div>
    <div class="input-field col s8">
      <!-- <input id="business_clearance_street_name" type="text" value="{{ business_clearance_street_name }}" disabled> -->
      <input id="business_clearance_street_name" type="text" ng-model="transact.forms[tab_name].street_name">
      <label for="business_clearance_street_name">Business Street Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
