<div class="row" ng-init="transact.forms[tab_name].search_name_1 = ''; transact.forms[tab_name].search_name_2 = ''">
  <div class="input-field col s12">
    <input id="search_person_1" type="text" ng-model="transact.forms[tab_name].search_name_1">
    <label for="search_person_1">Search Complainant's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name_1 == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].user_id[0] = resident.id; transact.forms[tab_name].complainant_1 = resident.first_name + ' ' + resident.middle_name.charAt(0) + '. ' + resident.last_name; transact.forms[tab_name].search_name_1 = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name_1">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="input-field col s12">
    <input id="search_person_2" type="text" ng-model="transact.forms[tab_name].search_name_2">
    <label for="search_person_2">Search Complainant's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name_2 == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].respondent_1 = resident.first_name + ' ' + resident.middle_name.charAt(0) + '. ' + resident.last_name; transact.forms[tab_name].search_name_2 = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name_2">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="col s6 input-field">
      <input type="text" disabled id="complainant_1" value="{{ transact.forms[tab_name].complainant_1 }}">
      <label for="complainant_1" class="active">Complainant</label>
    </div>

    <div class="col s6 input-field">
      <input type="text" disabled id="respondent_1" value="{{ transact.forms[tab_name].respondent_1 }}">
      <label for="respondent_1" class="active">Respondent</label>
    </div>
  </div>

  <div class="row">
    <div class="col s6 input-field">
      <input type="text" id="case_no" ng-model="transact.forms[tab_name].case_no">
      <label for="case_no" class="active">Case number</label>
    </div>

    <div class="col s6 input-field">
      <input type="text" id="for" ng-model="transact.forms[tab_name].for">
      <label for="for" class="active">For</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
</div>
