<div class="row" ng-init="transact.forms[tab_name].search_name_1 = ''; transact.forms[tab_name].search_name_2 = ''">
  <div class="input-field col s12">
    <input id="search_person_1" type="text" ng-model="transact.forms[tab_name].search_name_1">
    <label for="search_person_1">Search Person Giving Authority's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name_1 == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].user_id[0] = resident.id; transact.forms[tab_name].person_1 = resident.first_name + ' ' + resident.middle_name.charAt(0) + '. ' + resident.last_name; transact.forms[tab_name].search_name_1 = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name_1">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="input-field col s12">
    <input id="search_person_2" type="text" ng-model="transact.forms[tab_name].search_name_2">
    <label for="search_person_2">Search Person Receiving Authority's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name_2 == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].person_2 = resident.first_name + ' ' + resident.middle_name.charAt(0) + '. ' + resident.last_name; transact.forms[tab_name].search_name_2 = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name_2">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <input type="text" disabled id="person_1" value="{{ transact.forms[tab_name].person_1 }}">
      <label for="person_1" class="active">Person Giving Authority</label>
    </div>
  </div>

  <div class="row">
    <div class="col s6 input-field">
      <input type="text" disabled id="person_2" value="{{ transact.forms[tab_name].person_2 }}">
      <label for="person_2" class="active">Person Receiving Authority</label>
    </div>

    <div class="col s6 input-field">
      <select id="relationship" class="input-field browser-default" ng-model="transact.forms[tab_name].relationship">
          <option value="" disabled selected>Select relationship</option>
          <option value="brother">Brother</option>
          <option value="sister">Sister</option>
          <option value="mother">Mother</option>
          <option value="father">Father</option>
          <option value="son">Son</option>
          <option value="daughter">Daughter</option>
          <option value="friend">Friend</option>
          <option value="relative">Relative</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input id="two_people_house_num" type="number" min="1" max="999" ng-model="transact.forms[tab_name].house_num">
      <label for="two_people_house_num">House Number</label>
    </div>
    <div class="input-field col s8">
      <!-- <input id="business_clearance_street_name" type="text" value="{{ business_clearance_street_name }}" disabled> -->
      <input id="two_people_street_name" type="text" ng-model="transact.forms[tab_name].street_name">
      <label for="two_people_street_name">Street Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
</div>
