<div class="row" ng-init="transact.forms[tab_name].search_name = ''; transact.forms[tab_name].user_id[0] = 0">
  <div class="row">
    <div class="input-field col s12">
      <input id="special_permit_organization" type="text" ng-model="transact.forms[tab_name].organization">
      <label for="special_permit_organization">Organization</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="special_permit_event" type="text" ng-model="transact.forms[tab_name].event">
      <label for="special_permit_event">Event</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
