<div class="row" ng-init="transact.forms[tab_name].search_name = ''">
  <div class="input-field col s12">
    <input id="search_person_indigency" type="text" ng-model="transact.forms[tab_name].search_name">
    <label for="search_person_indigency">Search Indigent's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].user_id[0] = resident.id; transact.forms[tab_name].full_name = resident.first_name + ' ' + resident.middle_name.charAt(0) + ' ' + resident.last_name; transact.forms[tab_name].search_name = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="indigency_full_name" type="text" value="{{ transact.forms[tab_name].full_name }}" disabled>
      <label class="active" for="indigency_full_name">Indigent's Full Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="indigency_connection" type="text" value="" placeholder="This certification is being issued upon the request of the said person in connection with..." ng-model="transact.forms[tab_name].connection">
      <label for="indigency_connection">Connection's Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input id="indigency_house_num" type="number" min="1" max="999" ng-model="transact.forms[tab_name].house_num">
      <label for="indigency_house_num">House Number</label>
    </div>
    <div class="input-field col s8">
      <!-- <input id="business_clearance_street_name" type="text" value="{{ business_clearance_street_name }}" disabled> -->
      <input id="indigency_street_name" type="text" ng-model="transact.forms[tab_name].street_name">
      <label for="indigency_street_name">Street Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
