<div class="row" ng-init="transact.forms[tab_name].search_name_1 = ''; transact.forms[tab_name].search_name_2 = ''">
  <div class="input-field col s12">
    <input id="search_person_pcs_guardian" type="text" ng-model="transact.forms[tab_name].search_name_1">
    <label for="search_person_pcs_guardian">Search Guardian's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name_1 == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].occupation = resident.occupation; transact.forms[tab_name].guardian = (resident.gender == 'f' ? 'Ms.' : 'Mr.') + ' ' + resident.first_name + ' ' + resident.last_name; transact.forms[tab_name].search_name_1 = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name_1">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="input-field col s12">
    <input id="search_person_pcs_applicant" type="text" ng-model="transact.forms[tab_name].search_name_2">
    <label for="search_person_pcs_applicant">Search Applicant's Name:</label>
  </div>

  <div class="row" ng-hide="transact.forms[tab_name].search_name_2 == ''">
      <table class="striped">
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="birthday">Birthday</th>
            <th data-field="address">Address</th>
            <!-- <th data-field="price">View Profile</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-click="transact.forms[tab_name].user_id[0] = resident.id; transact.forms[tab_name].applicant = resident.first_name + ' ' + resident.last_name; transact.forms[tab_name].search_name_2 = '';" ng-repeat="resident in residents | orderBy | filter: transact.forms[tab_name].search_name_2">
            <td>{{ resident.first_name + ' ' + resident.last_name }}</td>
            <td>{{ resident.birthdate | date: "MMMM d, yyyy" }}</td>
            <td>{{ resident.house_num + ' ' + resident.street_name }} Brgy. Poblacion, Pateros, Metro Manila</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="col s6 input-field">
      <input type="text" disabled id="full_name_guardian" value="{{ transact.forms[tab_name].guardian }}">
      <label for="full_name_guardian" class="active">Guardian</label>
    </div>

    <div class="col s6 input-field">
      <input type="text" disabled id="full_name_applicant" value="{{ transact.forms[tab_name].applicant }}">
      <label for="full_name_applicant" class="active">Applicant</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input id="business" type="text" ng-model="transact.forms[tab_name].business">
      <label for="business">Company/Business Name</label>
    </div>
    <div class="input-field col s4">
      <input id="occupation" disabled type="text" value="{{ transact.forms[tab_name].occupation }}">
      <label class="active" for="occupation">Occupation</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input id="two_people_house_num" type="number" min="1" max="999" ng-model="transact.forms[tab_name].house_num">
      <label for="two_people_house_num">House Number</label>
    </div>
    <div class="input-field col s8">
      <!-- <input id="business_clearance_street_name" type="text" value="{{ business_clearance_street_name }}" disabled> -->
      <input id="two_people_street_name" type="text" ng-model="transact.forms[tab_name].street_name">
      <label for="two_people_street_name">Street Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s8">
      <input type="text" id="price" ng-model="transact.forms[tab_name].price">
      <label for="price">Total Amount</label>
    </div>
  </div>
</div>
