footer {
  width:100%;
  bottom:0px;
  left:0px;
  position:fixed;
}

md-tabs {
  height: 65vh;
}

.chart {
	width		: 100%;
	height		: 300px;
	font-size	: 11px;
	display     : block;
}

.chart .amcharts-chart-div a {
	display:none !important;
}

.amcharts-export-menu-top-right {
    top: -95px !important;
}

.row-cards .col:nth-child(3) h4, .row-cards .col:nth-child(4) h4{
  margin: 1.14rem 0 2.5rem 0;
}

.dataTable td {
  font-size: 14px;
  padding: 11px 9px;
}

.dataTable th {
  font-size: 15px
}

a.paginate_button.current {
  font-weight: 900;
  font-size: 17px;
  padding: 0 8px;
  color: black;
}

.paging_simple_numbers {
  font-size: 14px;
}

.paging_simple_numbers a {
  padding: 0 5px;
  cursor: pointer;
}

.paging_simple_numbers a:hover {
  color: gray;
}

.paginate_button.previous {
  padding-left: 0;
}

.dataTables_filter input {
  max-height: 30px;
}

.tab-container {
  padding: 0 !important;
}

.transaction-container {
  padding: 20px !important;
}

.transaction-container .dataTables_length {
  display: none;
}

.dataTables_info {
  margin-top: 10px;
}

.dataTables_info {
  display: none;
}

.dataTables_length {
  display: none;
}
