.dataTable td {
  font-size: 14px;
  padding: 11px 9px;
}

.dataTable th {
  font-size: 15px
}

a.paginate_button.current {
  font-weight: 900;
  font-size: 17px;
  padding: 0 8px;
  color: black;
}

.paging_simple_numbers {
  font-size: 14px;
}

.paging_simple_numbers a {
  padding: 0 5px;
  cursor: pointer;
}

.paging_simple_numbers a:hover {
  color: gray;
}

.paginate_button.previous {
  padding-left: 0;
}

.dataTables_filter input {
  max-height: 30px;
}

.tab-container {
  padding: 0 !important;
}

.transaction-container {
  padding: 20px !important;
}

.transaction-container .dataTables_length {
  display: none;
}

.dataTables_info {
  margin-top: 10px;
}
